media-ranges = {
  xxsmall: 0 32.0em,
  xsmall: 32.1em 64.0em,
  small: 64.1em 76.8em,
  medium: 76.9em 102.4em,
  large: 102.5em 144.0em,
  xlarge: 144.1em 192.0em,
  xxlarge: 192.1em null
};

media-query(min-width = null, max-width = null, orientation = null, pixel-ratio = null) {
  query = "only screen";
  query += " and (min-width: " + min-width + ")" if min-width;
  query += " and (max-width: " + max-width + ")" if max-width;
  query += " and (orientation: " + orientation + ")" if orientation;

  if (pixel-ratio) {
    ratio-clause = " and (-webkit-min-device-pixel-ratio: " + pixel-ratio + ")";
    resolution-clause = " and (min-resolution: " + floor(pixel-ratio * 96dpi) + ")";
    query += ratio-clause + ", " + query + resolution-clause;
  }

  return query;
}

media(device, include = only, orientation = null, pixel-ratio = null) {
  range = media-ranges["" + device];
  min-width = include == down ? null : range[0];
  max-width = include == up ? null : range[1];
  max-width = media-ranges["" + include][1] unless include in (only down up);

  query = media-query(min-width, max-width, orientation, pixel-ratio);

  @media query {
    {block}
  }
}