@import "../../../styles/protoplanet";

// Device: xxsmall
+media(xxsmall) {}
+media(xxsmall, up) {}
+media(xxsmall, down) {}

// Device: xsmall
+media(xsmall) {}
+media(xsmall, up) {}
+media(xsmall, down) {}

// Device: small
+media(small) {}
+media(small, up) {}
+media(small, down) {}

// Device: medium
+media(medium) {}
+media(medium, up) {}
+media(medium, down) {}

// Device: large
+media(large) {}
+media(large, up) {}
+media(large, down) {}

// Device: xlarge
+media(xlarge) {}
+media(xlarge, up) {}
+media(xlarge, down) {}

// Device: xxlarge
+media(xxlarge) {}
+media(xxlarge, up) {}
+media(xxlarge, down) {}

// Range of devices
+media(small, large) {}
+media(xxsmall, large) {}
+media(small, xxlarge) {}
+media(xxsmall, xxlarge) {}

// Orientation
+media(null, null, portrait) {}
+media(null, null, landscape) {}
+media(small, only, portrait) {}
+media(medium, up, landscape) {}

// Pixel-Ratio
+media(null, null, null, 2) {}
+media(xsmall, up, pixel-ratio: 1.5) {}
+media(small, large, landscape, 1.25) {}