@import "../../../styles/protoplanet";

+media(small) {}
+media(small, up) {}
+media(small, down) {}

+media(medium) {}
+media(medium, up) {}
+media(medium, down) {}

+media(large) {}
+media(large, up) {}
+media(large, down) {}

+media(xlarge) {}
+media(xlarge, up) {}
+media(xlarge, down) {}

+media(xxlarge) {}
+media(xxlarge, up) {}
+media(xxlarge, down) {}