@import "../../../styles/protoplanet";

#to-dpi {
  from-falsy: to-dpi(null) empty;
  from-dpi: to-dpi(192dpi);
  from-dppx: to-dpi(1dppx);
  from-ratio: to-dpi(4/3);
}

#to-em {
  from-falsy: to-em(null) empty;
  from-em: to-em(64.0em);
  from-px: to-em(42px);
  from-int: to-em(1024);
}